a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

footer {
  padding: 32px 0;
}

img {
  height: 200px;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: royalblue;
}

nav a {
  color: gold;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.recipe-container a {
  color: orangered;
}

.striped tr:nth-child(even) {
  background-color: lightgray;
}

h1 {
  color: gold;
  background-color: royalblue;
  padding-right: 2;
}
